.sliderImageContainer {
    height: 90vh;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction: row;
    overflow-x: visible !important;
}

.sliderContainer {
    max-width: 100%;
    min-height: 90vh;
    overflow-x: hidden !important;
}

.images {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100vw;
}

.dots {
    height: 10px;
    width: 10px;
    border: 1px solid #EF9590;
    border-radius: 50%;
    margin: 0px 0.3rem
}

.active {
    background-color: #EF9590;
    border: 1px solid #EF9590;
}

.dotcontainer {
    max-width: 50vw;
    height: 10;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin: 2rem 0px;
}